<div id="content" class="page-wrap">
		<div class="container content-wrapper">
			<div class="row">
				<article class="page hentry">
					<header class="entry-header">
					</br>
					</br>
					</br>
					<h4 style="color:green">Thank you for taking time to fill our survey</h4>
					</header>
					</br>
					</br>
					Your DeciPro Team
					</br></br></br></br></br></br></br></br></br></br></br>
				</article><!-- #post-## -->
 		  </div>
 	 </div>
</div><!-- #content -->
